<!DOCTYPE html>
<html>
<head>
<title>_=_TITLE_=_</title>
_=_HEAD_=_
</head>
<body><a href="/">TOP</a> | <a href="/tags.html">TAG LIST<a> | <a href="/archive.html">ARCHIVES</a>
<hr>
_=_BODY_=_
</body>
</html>
