<h1>
  日記
</h1>

<hr>

<p>Toshiaki Yokoda の日記へようこそ。</p>

<p>ただの日記がメインのコンテンツとなります。</p>

<p>
ホームページは <a href="https://www.yokoda.okinawa">こちら<a>
</p>

<h2>What's New</h2>

_=_USER_DEFINED_UPDATES_=_


<p>新着順に記事を並べています。</p>
